/* Basic styles to hide pages */
.page {
    display: none;
}
.active {
    display: block;
}

body {
    background-color: #d4edda; /* Light green background */
}

/* Container for the entire graph */
.bar-graph {
    width: 100%; /* Full width */
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    box-sizing: border-box;
}

/* Style for individual bar sections */
.bar {
    height: 60px; /* Height of each bar */
    margin: 5px 0; /* Space between bars */
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.bar span {
    visibility: hidden;
    white-space: nowrap;
}

.bar:hover {
    filter: brightness(1.2);
}

.bar:hover span {
    visibility: visible;
}

/* Style for the info box */
.info-box {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 18px;
    min-height: 50px;
}

.info-label {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 30px;
    font-weight: bold;
}

/* Container for the color key */
.color-key {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px;
    font-family: Arial, sans-serif;
}

/* Style for each key item */
.key-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

/* Style for the color box */
.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Style for the main container to create a split screen */
.split-screen {
    display: flex;
    height: 60vh; /* Full viewport height */
}

/* Style for the left panel */
.left-panel {
    flex: 3;
    background-color: #cadbe9;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Style for the right panel */
.right-panel {
    flex: 2;
    background-color: #b5c4d0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}