/* Basic styles to hide pages */
.page {
    display: none;
}
.active {
    display: block;
}

/* Container for the entire graph */
.bar-graph {
    width: 100%; /* Full width */
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    box-sizing: border-box;
}

/* Style for individual bar sections */
.bar {
    height: 60px; /* Height of each bar */
    margin: 5px 0; /* Space between bars */
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;

    cursor: pointer;
}

/* Style for the info box */
.info-box {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 18px;
    min-height: 50px;
}

.info-label {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 30px;
    font-weight: bold;
}

/* Style for the main container to create a split screen */
.split-screen {
    display: flex;
    height: 60vh; /* Full viewport height */
}

/* Style for the left panel */
.left-panel {
    flex: 3;
    background-color: #f0f8ff;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Style for the right panel */
.right-panel {
    flex: 2;
    background-color: #ffebcd;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}